// Main styling for app. Classes and general tags to be reused

$green: #428842;
$gray: #707068;

// interactives
.clickable {
    &:hover { cursor: pointer; }
}

// layout
.fullScreen {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.col2 {
    margin: 0;
    padding: 0;
    width: 100%;
    .col {
        display: inline-block;
        &:nth-child(1) {
            // side bar
            width: 15%;
            margin: 0;
            padding: 0;
            height: 100vh;
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
        }
        &:nth-child(2) {
            // main content
            width: 81%;
            margin: 0;
            padding: 1%;
            right: 0;
            position: absolute;
        }
    }
}

.half {
    width: 50%;
}


// Buttons

button {
    border: none;
    padding: .2rem;
    font-size: .9rem;
    font-family: sans-serif;
    transition-duration: .2s;
    background-color: #dbdbdb;
    &:active {
        outline: none;
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 .1rem black inset;
    }
}

.submit {
    background-color: $green;
    color: white;
    &:hover {
        background-color: rgb(16.4%, 64.8%, 4.2%);
    }
}

select {
    border: none;
    background-color: $gray;
    color: white;
}
